
/* orange color:#e67e22 */

/* BASIC SETUP */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #ffffff;
    color: #555555;
    font-family: 'lato',Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;

}

.clearfix {zoom: 1;}
.clearfix::after {
    content: '.';
    clear: both; 
    display: block;
    height: 0;
    visibility: hidden;
}

 /* reusable components */

 .row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
    margin: 0 auto; */
}

section {
    padding: 20px 0;
}

.box {
    padding: 1%;
}

 /*----HEADINGS----*/

h1,
h2,
h3 {
   
    font-size: 240%;
    font-weight: 400;
    text-transform: uppercase;
    
   
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffffff;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;

}


h3 {
    font-size: 110%;
    margin-bottom: 5%;
}


h2::after {
    display: block;
    height: 2px;
    background-color:#e67e22;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


/*-----paragraph-----*/

.longpara {
    line-height: 145%;
    width:70% ;
    margin-left: 15%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

/* icon */

.icon-big {
    font-size:200%;
    display: inline-block;
    color:#e67e22;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22 ;
    font-size: 120%;
    margin-right: 8px;

    /* to align text and icons */
    line-height: 120%;
    vertical-align: middle;
     margin-top: -4px;
}

/* ---------links---------- */

a:link,
a:active {
    text-decoration: none;
    color: #e67e22;
    padding: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s ;
    transition: border-bottom 0.2s, color 0.2s ;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

 /*----buttons-----*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 200px;
    color: #ffffff;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
} 



.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color:#e67e22 ;
    border: 1px solid #e67e22;
    color: #ffffff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22 ;
}

.btn:hover, 
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
    /* background-color: #e67e22; */
    border: 1px solid #e67e22;
}

.btn-ghost:hover,
.btn-ghost:hover {
    border: 1px solid #e67e22;
    color: #ffffff;
}

 /* HEADER */

header {
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(hero.jpg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(hero.jpg);
    height: 100vh;   
    background-size: cover;   
    background-position: center;
    background-attachment: fixed;
}

.herotext {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.omnilogo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 15px;
}

.omnilogoblack {
    display: none;
    height: 55px;
    width: auto;
    float: left;
    margin: 15px 0;
}

/* ----navigation----- */

.mainnav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.mainnav li {
    display: inline-block;
    margin-left: 30px;
}

.mainnav li a:link,
.mainnav li a:visited {
    padding: 8px 0px;
    text-transform:uppercase ;
    text-decoration: none;
    color: #ffffff;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.mainnav li a:hover,
.mainnav li a:active {
    border-bottom : 2px solid #e67e22;
    /* color: #ffffff; */

}

/* ------sticky navigation------- */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 2px #bdbdbd;
    z-index: 9999;
}

.sticky .omnilogo { display: none;}

.sticky .omnilogoblack {
    display: block;
}

.sticky .mainnav {
    margin-top: 10px;
}

.sticky .mainnav li a:link,
.sticky .mainnav li a:visited {
    padding: 15px 0px;
    color: #555;
}


/*--------- Features---------- */

.sectionfeatures .longpara {
    margin-bottom: 30px;
}



/* -----MEALS--------- */

.sectionmeals {
    padding: 0;
}


.mealshowcase {
    list-style: none;
    width: 100%;
}

.mealshowcase li {
    display: block;
    float: left;
    width: 25%;
}

.mealphoto {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.mealphoto img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s opacity 0.5s;
    transition: -webkit-transform 0.5s opacity 0.5s;
    transition: transform 0.5s opacity 0.5s;
    transition: transform 0.5s opacity 0.5s, -webkit-transform 0.5s opacity 0.5s;
}

.mealphoto img:hover{
    opacity: 1;
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
}

/* How it works */

.sectionsteps {
    background-color: #e0e0e0;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 5%;
    margin-top: 30px;
}

.steps-box:last-child {
    text-align: left;
    padding: 3%;
    margin-top: 40px;
}

.appscreen {
    width: 40%;
}

.worksteps {
    margin-bottom: 50px;
}

.worksteps:last-of-type {
    margin-bottom: 50px;
}

.worksteps div {
    color:#e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 20px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}


.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
    

} 

/* cities */

.box img {
    width: 100%;
    height:auto;
    margin-bottom: 10px;
}

.city {
    margin-bottom: 5px;
}

/* -------testimonials--------- */

.sectiontestimonials {
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.8)), to(rgba(0,0,0,0.8))), url(img/back-customers.jpg);
    background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/back-customers.jpg);
    background-size:cover ;
    color: #ffffff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    line-height: 145%;
    font-style: italic;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 40px;
    border-radius:50%;
    margin-right:10px ;
    vertical-align: middle;
}

/* ----SIGN UP-------- */

.sectionplans {
    background-color: #f4f4f4;
}

.planbox {
    background-color: #ffffff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
}

.planbox div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.planprice {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 0;
    color: #ac6527;
    box-shadow: 0 2px 2px #efefef;
}

.planbox div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.planbox div:last-child{
    text-align: center;
    border: 0;
}

.planprice span {
    font-size: 30%;
    font-weight: 300;
}


.planpricemeal {
    font-size: 80%;
}


.planbox ul {
    list-style: none;
}

.planbox ul li {
    padding: 5px 0;
}


/* ---form------ */

.contactform {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email], 
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #8a8a8a;

}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 5px 5px 5px 0;
}

*:focus{outline: none;}

/* ----footer------ */

footer {
    background-color: rgb(34, 34, 34);
    font-size: 80%;
}

.footernav {
    list-style: none;
    float: left;
}


.sociallinks {
    list-style: none;
    float: right;
}

.footernav li,
.sociallinks li {
    display: inline-block;
    margin-right: 20px;
}

.footernav li:first-child,
.sociallinks li:last-child {
    margin-right: 20px;
}

.footernav li a:link,
.footernav li a:visited,
.sociallinks li a:link,
.sociallinks li a:visited {
    text-decoration: none;
    border: 0;
    color: #888888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-instagram,
.ion-social-googleplus {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-instagram:hover {
    color: #517fa4;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.footernav li a:hover,
.footernav li a:active {
    color: #dddddd; 
}

.sociallinks li a:link,
.sociallinks li a:visited {
    font-size: 180%;
}

footer p {
    color: #888888;
    text-align: center;
    font-size: 90%;
    margin-top: 10px;
}

/*------------ Animation--------- */
/* 
.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

.js--wp-4 {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
    opacity: 1;
} */


